modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PAYSTACK_PUBLIC_KEY = "pk_test_1bde52f1bf18c91a1e13370f293e679c97b0fb71"
PAYSTACK_SUBACCOUNT_CODE = "ACCT_placeholder"
VITE_PAYSTACK_PUBLIC_KEY = "pk_test_1bde52f1bf18c91a1e13370f293e679c97b0fb71"
PAYSTACK_SECRET_KEY = "sk_test_a92c954c875df4cd93b2b42cbd60318e63fee85e"
VITE_ADMIN_WA = "2348030430681"
